
h1{
    text-align: center;
    font-size: 40px;
    
}
.schdule{
    margin-left: 180px;
    margin-top: 80px;
}
.search{
    margin-left: 50px;
    margin-top: 20px;
}
.TimeTable > div{
    display: inline-block;
}
.getAll{
    padding-top: 20px;
    margin-left: 20px;
    display: block;

}
.subjectForm{
    padding-top: 40px;
    margin-left: 20px;

}
.getTB{
    padding-top: 40px;
    margin-left: 20px;
}

.getTB label input{
   margin-left: 40px;
}
.dropbtn {
    background-color: rgb(73, 146, 73); 
    padding: 12px;
    font-size: 12px;
    border: none;
    cursor: pointer;
  }
  
.dropdown {
    position: relative;
    display: inline;
  }
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
    z-index: 1;
  }
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
.dropdown a:hover {background-color: #ddd;}
.show {display: block;}

.createSchedule{
    padding-top: 40px;
    margin-left: 20px;
}

.saveSchedule{
    padding-top: 40px;
    margin-left: 20px;
}

.getListElements{
    padding-top: 40px;
    margin-left: 20px;
}

.deleteSchedule{
    padding-top: 40px;
    margin-left: 20px;
}
.getScheduleList{
    padding-top: 40px;
    margin-left: 20px
}
.deleteAllSchedule{
    padding-top: 40px;
    margin-left: 20px
}
.returnedInfo{
    padding-top: 40px;
    margin-left: 20px;
    position: relative;
    display: inline-block;
}
.returnedInfo th,td {
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
}
#c1{
    background-color: rgb(195, 73, 219);
}
#c2{
    background-color: rgb(31, 238, 169);
}
#c3{
    background-color:yellow;
}
#c4{
    background-color:blue;
}
#c5{
    background-color: red;
}
#c6{
    background-color: purple;
}
#c7{
    background-color: gray;
}
#c8{
    background-color:brown;
}
#c9{
    background-color: darkcyan;
}
#c10{
    background-color:darkgoldenrod;
}
#c11{
    background-color: salmon;
}








